<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.main.seongmin.nfcalarm">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.main.seongmin.nfcalarm.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AlarmActiveActivity"
            android:launchMode="singleTask">
        </activity>

        <receiver android:name="com.main.seongmin.nfcalarm.AlarmReceiver"></receiver>
        <receiver android:name="com.main.seongmin.nfcalarm.AlarmBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

        <service android:name="com.main.seongmin.nfcalarm.AlarmFireService" />
        <service android:name="com.main.seongmin.nfcalarm.AlarmActiveService" />
    </application>

</manifest>